name: .NET Core Desktop

on:
  pull_request:
    types:
      - closed
    branches: [ "main", "dev" ]
  push:
    branches: [ "dev" ]
  workflow_dispatch:
  
jobs:

  if_merged:
##    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Get Version
        run: |
          VER=$(sed -n "s/version=//p" VERSION.ini)
          echo "VER=${VER}" >> $GITHUB_ENV
          echo "test"
      - name: Create Tag
        uses: actions/github-script@v6
        with:
          script: |
            github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: 'refs/tags/v${{ env.VER }}',
              sha: context.sha
            })
          
        
      
