name: .NET Core Desktop

on:
  pull_request:
    types:
      - closed
    branches: [ "main", "dev" ]
  push:
    branches: [ "dev" ]
  workflow_dispatch:
  
jobs:

  if_merged:
##    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Get Version
        run: |
          VER=$(sed -n "s/version=//p" VERSION.ini)
          echo "VER=${VER}" >> $GITHUB_ENV
      - name: Create Tag
        uses: actions/github-script@v6
        with:
          script: |
            github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: 'refs/tags/v${{ env.VER }}',
              sha: context.sha
            })
      - name: Create Release
        id: create_release
        uses: actions/github-script@v6
        with:
          script: |
            try {
              await github.rest.repos.createRelease({
                draft: false,
                generate_release_notes: false,
                name: "${{ env.VER }}",
                owner: context.repo.owner,
                repo: context.repo.repo,
                tag_name: "v${{ env.VER }}",
                body: "Example release notes"
              });
            } catch (error){
              core.setFailed(error.message);
            }
      - name: Download Artifact
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: dotnet-desktop.yml
          name: BuildFiles
          search_artifacts: true
          if_no_artifact_found: fail
      - name: Attach pdb
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: BuildFiles/ConsoleApp1.pdb
      - name: Attach json
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: BuildFiles/ConsoleApp1.deps.json
      - name: Attach dll
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: BuildFiles/ConsoleApp1.dll

      
